<h1>Clients Details</h1>
<div >
<table class="table table-hover mt-3" style="width: 800px; margin-left: 250px; text-align: center;">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Clients</th>
        <th scope="col">Location</th>
        <th scope="col">website</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>TCS</td>
        <td>Bangalore</td>
        <td>www.tcs.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Wipro</td>
        <td>Hyderabad</td>
        <td>www.wipro.com</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Oracle</td>
        <td>Chennai</td>
        <td>www.oracle.com</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Capgemini</td>
        <td>Bangalore</td>
        <td>www.cg.com</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Google</td>
        <td>Hyderabad</td>
        <td>www.google.com</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Microsoft</td>
        <td>Hyderabad</td>
        <td>www.windows.com</td>
      </tr>
    </tbody>
  </table>
</div>